<div class="filter">
    <label>Name: <input [(ngModel)]="search" (input)="reloadPage()" type="text"></label>
    <label>Dimension: <input [(ngModel)]="dimension" (input)="reloadPage()" type="text"></label>
</div>

<div *ngIf="loading" class="loader"></div>

<div *ngIf="locations" class="list">
    <div *ngFor="let location of locations">
        <app-location [location]="location"></app-location>
    </div>
</div>

<div class="filter">
    <button *ngIf="previous" (click)="changePage(-1)">Previous</button>
    Page {{page}}
    <button *ngIf="next" (click)="changePage(1)">Next</button>
</div>

<p *ngIf="error">{{error}}</p>